@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This page holds the information related to privacy policy. Since the site
    is under development, there isn't much here! Feel free to use it :)
</p>
